/*configurazione macrostruttura*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#wrapper-up{
    height: calc(100vh - 100px);
    display: flex;
}

#sidebar{
    width: 250px;
    height: 100%;
    background-color:black ;
}

#main-content{
    flex-grow: 1;
    background-color: #151822;
}

#controller{
    height: 100px;
    background-color: #282929;
}

ul{
    list-style: none;
    margin-top: 20px;
    padding-bottom: 10px;
}
li{
    padding-top: 12px;
    font-size: 16px;
}


/*sidebar*/

#container-sidebar{
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: grey;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

#logo-big{
    width: 150px;
    margin-bottom: 20px;
}

.option{
    font-size: 20px;
    margin-bottom: 10px;
}

.selected{
    color: white;
}

.fa-square-plus{
    font-size: 40px;
    vertical-align: middle;
}

#download{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;

}

#profile-pic{
    width: 30px;
    height: 30px;
    background-color: grey;
    background-image: url(img/profile.svg);
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}


/*controller*/

#controller-container{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*left*/

#track{
    display: flex;
    align-items: center;
    color: white;
}

#track-cover{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
}

#favorite{
    margin-left: 50px;
    color: gray;
}

/*middle*/

#panel{
    display: flex ;
    flex-direction: column;
    color: white;
    align-items: center;
    width: calc(100% / 3);
}

#upper-panel{
    display: flex;
    align-items: center;
    gap: 20px;
}

.longer{
    width: 400px;
    margin: 20px;
}

#bottom-panel{
    font-size:12px;
}


/*right*/

#volume{
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
}

.volume-item{
    margin: 10px;
}

.slider{
    appearance: none;
    height: 3px;
    background-color: grey;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  
