/*configurazione macrostruttura*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#wrapper-up{
    height: calc(100vh - 100px);
    display: flex;
}

#sidebar{
    min-width: 250px;
    height: 100%;
    background-color:black ;
}

#main-content{
    flex-grow: 1;
    background-color: #151822;
    overflow-y: auto;
}

#controller{
    height: 100px;
    background-color: #282929;
}

ul{
    list-style: none;
    margin-top: 20px;
    padding-bottom: 10px;
}
li{
    padding-top: 12px;
    font-size: 16px;
}

h1{
    color: white;
    margin-top: 30px;
}

h3{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    font-size: 15px;
    margin-top: 5px;
}

/*sidebar*/

#container-sidebar{
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: grey;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

#logo-big{
    width: 150px;
    margin-bottom: 20px;
}

.option{
    font-size: 20px;
    margin-bottom: 10px;
}

.selected{
    color: white;
}

.fa-square-plus{
    font-size: 40px;
    vertical-align: middle;
}

#download{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;

}

#profile-pic{
    width: 30px;
    height: 30px;
    background-color: grey;
    background-image: url(img/profile.svg);
    background-position: center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

/*shadow bar*/

#shadow-bar{
    height: 100px;
    width: calc(100% - 270px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
}

.button{
    background-color: black;
    text-decoration: none;
    color: white;
    border: 2px white solid;
    padding: 10px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

#xs-container{
    display: none;
}


/*main content*/

#main-content-container{
    padding: 10px;
    display: flex;
    color: grey;
    flex-direction:column;
    padding-top: 100px;
}

#category{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    
}

#underlined{
    border-bottom: 2px solid #acff2e;
    border-radius: 2%;
}

.album-cover{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

#first-row{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card{
    width:calc(100% /6 - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.radius{
    border-radius: 50%;
}

/*controller*/

#controller-container{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*left*/

#track{
    display: flex;
    align-items: center;
    color: white;
}

#track-cover{
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 10px;
}

#favorite{
    margin-left: 30px;
    color: gray;
}

/*middle*/

#panel{
    display: flex ;
    flex-direction: column;
    color: white;
    align-items: center;
}

#upper-panel{
    display: flex;
    align-items: center;
    gap: 10px;
}

.longer{
    margin: 10px;  
}

#bottom-panel{
    font-size:12px;
    display: flex;
}


/*right*/

#volume{
    color: white;
    display: flex;
    align-items: center;
    height: 100%;  
}

.volume-item{
   margin: 5px;
}

.slider{
    appearance: none;
    height: 3px;
    background-color: grey;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  

  /*media query*/


  /*m view*/

  @media all and (max-width:878px){

    
    .card{
        width:calc(100% / 4 - 20px);
    
    }

}


/*s view*/

@media all and (max-width:639px){

    .card{
        width:calc(100% / 2 - 20px);
    }

}


/*xs view*/

@media all and (max-width:552px){

    #sidebar{
        min-width: 75px;
        height: 100%;
        background-color:black ;
    }

    #shadow-bar{
        width: calc(100% - 95px);
    }

    .hide-xs{
        display: none;
    }

    #xs-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;   
    }

    .show-xs{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

   

}





/*effetti hover*/

.option :hover{
    color: white;
    cursor: pointer;
}

li:hover{
    color: white;
    cursor: pointer; 
}

.fa-regular:hover{
    color: white;
    cursor: pointer;
}

.fa-solid:hover{
    color: white;
    cursor: pointer;
}


/*hover sulle cover degli album*/

.overlay-container {
    position: relative;
}

.album-cover{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-container:hover .album-cover {
    opacity: 0.3;
}

.overlay-container:hover .overlay {
    opacity: 1;
}

.overlay-play{
    color: white;
    font-size: 50px;

  }